/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #7f858a #0b0c0e;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0b0c0e;
}

::-webkit-scrollbar-thumb {
  background-color: #7f858a;
  border-radius: 999px;
  border: 3px solid #0b0c0e;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9aa0a6;
}
